.barraSuperior {
    height: 200px;
    margin-top: 10px;
    background-color: #003a5f; /* Atualizando a cor de fundo */
}

.senhaAtual {
    text-align: center;
    background-color: #003a5f; /* Cor de fundo */
    color: white; /* Cor do texto */
    margin-top: 0px;
    padding: 10px; /* Adicionando padding para espaÃ§amento interno */
}

.senhaAtualTexto {
    font-size: 65pt;
    font-weight: 400;
}

#senhaAtualNumero {
    font-size: 100pt;
    font-weight: 400;
}

.ultimaSenha {
    font-weight: 400;
    text-align: center;
    background-color: #f2f2f2; /* Cor de fundo atualizada para melhor contraste */
    height: 130px;
    margin-top: 20px;
    padding: 10px; /* Adicionando padding para espaÃ§amento interno */
}

#ultimaSenhaTexto {
    font-size: 20px;
    color: #a50; /* Cor do texto */
}

#ultimaSenhaNumero {
    font-size: 40px;
    color: black; /* Cor do nÃºmero */
}

.uespiLogo {
    width: 80px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção original */
}

.sisuLogo {
    max-width: 400px;
}

.uespiTexto {
    font-size: 27pt;
    font-weight: 400;
    color: #003a5f; /* Cor do texto */
}

.subtitulo {
    font-size: 30px;
    font-weight: 400;
}

audio {
    display: none;
}
/* Estilos gerais para o site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para dispositivos de tela grande (desktops) */
@media (min-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
    .header {
        font-size: 24px;
    }
}

/* Estilo para dispositivos de tela média (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
    .header {
        font-size: 20px;
    }
}

/* Estilo para dispositivos de tela pequena (celulares) */
@media (max-width: 400px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        font-size: 22px;
    }
}

/* Exemplo de layout flexível */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
    padding: 10px;
}
.caixa-normal,
.caixa-anterior {
    font-size: 22px; /* Reduz o tamanho do texto */
    padding: 10px; /* Ajusta o espaçamento interno */
    width: 80%; /* Ajusta a largura da caixa */
    margin: 5px auto; /* Ajusta o espaçamento e centraliza */
}
#tipoSenha,
#senhaAnterior {
    font-size: 22px; /* Reduz ainda mais o tamanho do texto se necessário */
}
.caixa-normal strong,
.caixa-anterior strong,
.campo-caixa strong,
#tipoSenha,
#senhaAnterior,
#nomeCliente {
    font-size: 22px; /* Reduz o tamanho da fonte em 80% do tamanho padrão */
}

#senhaGerada {
    font-size: 33px; /* Ajusta o tamanho da senha gerada para um valor específico */
}
